{% extends 'base.html' %}

{% block content %}
    <form action="/submit" method="get">
        <label for="select">I was at</label>
        <select class="form-control" name="select" id="select">
            {% for f in favs %}
            <option>{{ f }}</option>
            {% endfor %}
        </select>
        <label for"amount">and spent</label>
        <input class="form-control" type="number" name="amount" step="0.01" id="amount">
        <button type="submit" class="btn btn-dark my-1">GO!</button>
    </form>
{% endblock %}
