{% extends 'base.html' %}

{% block content %}
    <form action="/fsubmit" method="get">
        <label for="fselect">I was at</label>
        <select class="form-control" name="fselect" id="fselect">
            {% for f in favs %}
            <option>{{ f }}</option>
            {% endfor %}
        </select>
        <label for"famount">and spent</label>
        <input class="form-control" type="number" name="famount" step="0.01" id="famount">
        <button type="submit" class="btn btn-dark my-1">GO!</button>
    </form>
{% endblock %}
